/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
a {
  text-decoration: none;
}

a:link,
a:visited {
  /*color: #387DD5;*/
  color: #638EC2;
}

header a:link,
header a:visited {
  color: #000000;
}

aside a:link,
aside a:visited {
  color: #000000;
}

.signature {
  font-family: 'Oxygen', sans-serif;
  font-weight: 100;
  font-size: 2em;
  color: #BDBDBD;
  
  padding-bottom: 0.3em;
  line-height: 1em;
}

/* Aside styles
================================================== */

.aside-img {
  margin-bottom: 1em;
  box-shadow: 0 0 5px #888;
  padding: 0.3em 0.3em 0.3em 0.3em;
  max-width: 100%;
  max-height: 100%;
  display: block;
  /* Center image */
  margin-left: auto;
  margin-right: auto;
}

.aside-container {
  /*background-color: #EBFFD6;*/
  /*background-color: #F3F3F3;*/
  /*border: 0.3em;*/
  border-style: solid;
  border-color: #E6E6E6;
  /*border-style: hidden;	*/
  border-width: 0.1em;
  box-shadow: 0.1em 0.1em 0.5em 0.1em black;
  /* padding: top right bottom left*/
  padding: 1em 0.7em 0.5em 0.7em;
  /* margin: top right bottom left*/
  margin: 0.3em 0 2em 0.3em;
}

.quote-container {
  /*background-color: #EBFFD6;*/
  /*background-color: #F3F3F3;*/
  /*border: 0.3em;*/
  border-style: solid;
  border-color: #E6E6E6;
  /*border-style: hidden;	*/
  border-width: 0.1em;
  box-shadow: 0 0 5px #888;
  /* padding: top right bottom left*/
  padding: 1em 0.7em 0.5em 0.7em;
  /* margin: top right bottom left*/
  margin: 0.3em 0 2em 0.3em;
  margin-bottom: 1em;
}

aside .mail-contact {
  background: url('/images/mail.png');
  background-size: 18px 13px;
  background-repeat: no-repeat;
  background-position:left;
  text-indent: 2.5em;
  margin-bottom: 0.2em;
  margin-top: 0.3em;
}

aside .twitter-contact {
  background: url('/images/twitter.png');
  background-repeat: no-repeat;
  background-position:left;
  margin-bottom: 0.3em;
  text-indent: 2.5em;
}

aside .phone-contact {
  background: url('/images/mphone.png');
  background-repeat: no-repeat;
  background-position:left;
  margin-bottom: 0.3em;
  text-indent: 2.5em;
}

aside .linknedin-contact {
  background: url('/images/linkedin32x32.png');
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position:left;
  margin-top: 0.3em;
  text-indent: 2.5em;
}

/* #Page Styles
================================================== */

/** 
HEADER 
**/

header {
  margin-top: 3em;
  margin-bottom: 3em;
}

header hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.navheader {
  margin-left: 3.7em;
}

.navheader ul {
  margin-bottom: 0;
}

.navheader ul li {
  float: left;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0.5em;
  padding-right: 1em;
}


/* Selected page header link highlight color */
.about-page header .about a,
.projects-page header .projects a,
.code-page header .code a,
.books-page header .books a,
.blog-page header .blog a,
.blogpost-page header .blogpost a,
.quotes-page header .quotes a {
  color:#A6A1A2;
}

/* Link hover color */
header a:visited:hover,
header a:hover {
  color:#A6A1A2;
}

/**
ABOUT PAGE
**/
.about-img {
  float: left;
  margin-right: 1em;
  padding: 0.5em 0.5em 0 0.5em;
  box-shadow: 0 0 5px #888; 
  display: block;
}

/**
NEW POST
**/
.newpost-page #summary {
  margin-top: 2em;
}

/* #Content Styles
================================================== */
.article-footer {
  font-family: 'Oxygen', serif;
  font-weight: 100;
  font-size: 1em;
  text-align: right;
  color: #BDBDBD;
  padding-top: 0.5em;
}

.article-header {
  font-family: 'Oxygen', serif;
  font-weight: 100;
  font-size: 0.8em;
  text-align: left;
  color: #BDBDBD;
  /*margin-bottom: 0.2em;*/
}

.article-header strong {
  color: #90979F;
}

.left-blog-img {
  /* margin: top right bottom left*/
  margin: 0 0.4em 0.4em 0.1em;
  /* padding: top right bottom left*/
  padding: 0.2em 0.2em 0.2em 0.2em;
  box-shadow: 0 0 5px #888; 
  display: block;
  width:  150px;
  height: auto;
  float: left;
}

.right-blog-img {
  /* margin: top right bottom left*/
  margin: 0.5em 0 0.5em 1em;
  /* padding: top right bottom left*/
  padding: 0.5em 0.5em 0.5em 0.5em;
  box-shadow: 0 0 5px #888; 
  display: block;
  width:  300px;
  height: auto;
  float: right;
}

.center-blog-img {
  /* margin: top right bottom left*/
  margin-left: auto;
  margin-right: auto;
  /* padding: top right bottom left*/
  padding: 0.5em 0.5em 0.5em 0.5em;
  box-shadow: 0 0 5px #888; 
  display: block;
  width:  300px;
  height: auto;
}

/**
BLOG
**/

.blog-page hr.up {
  margin-top: 0.5em;
  margin-bottom: 0.1em;
}

.blog-page hr.down {
  margin-top: 0;
  margin-bottom: 5em;
}

summary {
  margin-top: 2.8em;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */

body {
  font-family: 'Oxygen', sans-serif;
}

h1, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  font-size: 33px;
}

header {
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  font-size: 28px;
}

article {
  text-align:justify;
  font-weight: 100;
  font-size: 1.2em;
  /*overflow: auto;*/
}



/*
h2, h3 {
  font-weight: normal;
}

header h2 {
  font-family: 'Oxygen', sans-serif;
  font-weight: 100;
  color: #BDBDBD;
}
*/

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: local('Oxygen Light'), local('Oxygen-Light'), url(../fonts/AwBqWF2kjhlybWamaKMPcT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(../fonts/RzoNiRR1p2Mqyyz2RwqSMw.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url(../fonts/yVHpdQrmTj9Kax1tmFSx2j8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(../fonts/dazS1PrQQuCxC3iOAJFEJXCwtIq-jb_7MtFG0JFv1Zo.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(../fonts/y7lebkjgREBJK96VQi37Zn6qoo8ILXpvSLO10ucU3yI.woff) format('woff');
}

/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
